.job {
  border: 1px solid var(--cor-principal);
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  padding: 16px;
  margin-bottom: 6px;
  transition: all ease .3s;
  border-radius: 8px;
}

.jobTitle {
  font-weight: bold;
  margin-bottom: 16px;
  background-color: var(--light);
  text-align: center;
}


.jobsUl li{ /* lis */
  padding: 4px 4px;
  line-height: 18px;
}

.li{
  padding-bottom: 6px;
}
.jobLink {
  border-color: var(--primary);
    background-color: var(--dark);
    color: var(--white);
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 16px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;

    @media (max-width: 768px) {
      display: block;
    }
}

.job:hover {
  background-color: var(--dark);
  color: var(--white);
}
.job:hover .jobTitle {
  background-color: var(--light);
  color: var(--black);
}
.job:hover a {
  border-color: var(--black);
  background-color: var(--light);
  color: var(--black);
}
